<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lightning-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,850}</string>
                <key>spriteSourceSize</key>
                <string>{178,850}</string>
                <key>textureRect</key>
                <string>{{1,1},{178,850}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,850}</string>
                <key>spriteSourceSize</key>
                <string>{178,850}</string>
                <key>textureRect</key>
                <string>{{181,1},{178,850}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,850}</string>
                <key>spriteSourceSize</key>
                <string>{178,850}</string>
                <key>textureRect</key>
                <string>{{361,1},{178,850}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,850}</string>
                <key>spriteSourceSize</key>
                <string>{178,850}</string>
                <key>textureRect</key>
                <string>{{541,1},{178,850}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,850}</string>
                <key>spriteSourceSize</key>
                <string>{178,850}</string>
                <key>textureRect</key>
                <string>{{721,1},{178,850}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,850}</string>
                <key>spriteSourceSize</key>
                <string>{178,850}</string>
                <key>textureRect</key>
                <string>{{901,1},{178,850}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,850}</string>
                <key>spriteSourceSize</key>
                <string>{178,850}</string>
                <key>textureRect</key>
                <string>{{1081,1},{178,850}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,850}</string>
                <key>spriteSourceSize</key>
                <string>{178,850}</string>
                <key>textureRect</key>
                <string>{{1261,1},{178,850}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lightning.png</string>
            <key>size</key>
            <string>{1440,852}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20910373ac99d4537b3fbcc4bc8822f4:720c174d35bce44a4b9286259b25a8a2:1446c58be034ff650ca9169a31662b4d$</string>
            <key>textureFileName</key>
            <string>lightning.png</string>
        </dict>
    </dict>
</plist>
