<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,76}</string>
                <key>spriteSourceSize</key>
                <string>{209,76}</string>
                <key>textureRect</key>
                <string>{{203,105},{209,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,190}</string>
                <key>spriteSourceSize</key>
                <string>{203,190}</string>
                <key>textureRect</key>
                <string>{{0,105},{203,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,169}</string>
                <key>spriteSourceSize</key>
                <string>{246,169}</string>
                <key>textureRect</key>
                <string>{{412,105},{246,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,103}</string>
                <key>spriteSourceSize</key>
                <string>{138,103}</string>
                <key>textureRect</key>
                <string>{{169,0},{138,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,239}</string>
                <key>spriteSourceSize</key>
                <string>{275,239}</string>
                <key>textureRect</key>
                <string>{{658,105},{275,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,93}</string>
                <key>spriteSourceSize</key>
                <string>{148,93}</string>
                <key>textureRect</key>
                <string>{{307,0},{148,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,94}</string>
                <key>spriteSourceSize</key>
                <string>{193,94}</string>
                <key>textureRect</key>
                <string>{{820,0},{193,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,105}</string>
                <key>spriteSourceSize</key>
                <string>{177,105}</string>
                <key>textureRect</key>
                <string>{{455,0},{177,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,82}</string>
                <key>spriteSourceSize</key>
                <string>{188,82}</string>
                <key>textureRect</key>
                <string>{{632,0},{188,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{0,344},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,87}</string>
                <key>spriteSourceSize</key>
                <string>{119,87}</string>
                <key>textureRect</key>
                <string>{{50,0},{119,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{644,236}</string>
                <key>spriteSourceSize</key>
                <string>{644,236}</string>
                <key>textureRect</key>
                <string>{{300,344},{644,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{950,263}</string>
                <key>spriteSourceSize</key>
                <string>{950,263}</string>
                <key>textureRect</key>
                <string>{{0,644},{950,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishs.png</string>
            <key>size</key>
            <string>{1013,907}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06bab80af4d1cbd5164701661452d10b:c201634a1dd8921cb052cb5d61c6b9d6:f7314bb2da31cb6613ad6e17996506a7$</string>
            <key>textureFileName</key>
            <string>fishs.png</string>
        </dict>
    </dict>
</plist>
